body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
figure{
    margin: 0;
}
ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
div {
   /*border: 1px solid red;*/

    }

.header  ul{
    display: flex;
    height: inherit;
  }
  .header ul li{
    height: inherit;
  }



.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: #091D36;
        color: white;
        

}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 10px;
    margin: 23px;
}

.header div {
    display: flex;
    /*height: 90px;*/
    justify-content: space-between;
    vertical-align: middle;
   
}

.header-div-logo{
    display: inherit;
    width: 275px;
    justify-content: space-between;
    vertical-align: middle;
    padding: 10px 20px;
}

.header-name{
    margin: 0;
}

.header-logo{
    display: inherit;
    justify-content: space-between;
    vertical-align: middle; 

}

.header-div-menu{
    display: inherit;
    width: 500px;
    justify-content: space-between;
    vertical-align: middle;
    
}


.container{
    
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-content: inherit;
    align-items: inherit;

}

.container-header{
    
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    align-content: inherit;
    align-items: inherit;
    box-shadow: -8px 32px 10px -26px black;
}

.hero{
    background-color: #091D36;
    height: 200px;
    align-items: center;
    display: flex;
    background-image: url('../Imagenes/20350.jpg');
    background-size: 1600px 1200px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -347px;
}

.hero h1 {
    color: white;
    margin: 0px;
    text-shadow: 0px 1px 3px darkblue;
}
.hero strong {
    color:#5E83BA;
}

.biografia{
/*background-image: url('../Imagenes/101_0118.JPG');*/

}



